body {
  background-color: rgb(244, 244, 244);
}
#primeirocinza {
  background-color: rgb(66, 66, 66);
  color: white;
  margin-top: -33px;
}

#primeirocinza h2 {
  font-family: Oswald;
  font-size: 29pt;
  text-align: center;
  padding-top: 80px;
}

#primeirocinza h3 {
  font-family: "Open Sans";
  font-size: 18pt;
}

#primeirocinza p {
  font-family: "Open Sans";
  font-size: 14pt;
  text-align: justify;
  padding-left: 17%;
  padding-right: 17%;
  text-indent: 1.8em;
}

.fotosdias {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-left: 17%;
  padding-bottom: 20px;
}

.dia {
  margin-right: 31px;
}

.dia img {
  width: 350px;
  height: 364px;
  object-fit: cover;
}

small {
  font-family: Arial;
  font-size: 12pt;
}

.fotodia1 {
  object-position: -165px -5px;
}

.fotodia2 {
  object-position: -201px -5px;
}

.fotodia3 {
  object-position: -97px -5px;
}

.playoffs h2 {
  text-transform: uppercase;
  font-family: Oswald;
  font-size: 30pt;
}

.videoplayoffs {
  padding-left: 24%;
  height: 550px;
  width: 50%;
  padding-bottom: 100px;
}

.topo {
  background: url("../img/Topo.jpg") no-repeat top center fixed;
  background-size: 100%;
  background-position: 0px 0px;
  font-family: Roboto;
  color: white;
  height: 750px;
  padding-top: 115px;
}

.topo h1 {
  text-align: center;
  font-size: 36pt;
  padding-top: 16px;
}

.topo h2 {
  text-align: center;
  font-family: "Open Sans";
  font-size: 18pt;
}

.topo hr {
  width: 40%;
  background-color: darkslategrey;
  border-width: 0;
  height: 13px;
}

.esquerdo {
  top: 0px;
  position: absolute;
  padding-top: 15px;
  padding-left: 15px;
  font-family: Oswald;
  font-size: 14pt;
}

.direito {
  right: 0px;
  float: right;
  top: 0px;
  position: absolute;
  font-family: Oswald;
  font-size: 14pt;
}

a:visited {
  color: white;
}

menu a {
  padding-right: 30px;
}

.primeirobranco hr {
  background-color: black;
  height: 3px;
  border-width: 0;
  margin-bottom: 30px;
}

.primeirobranco {
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(244, 244, 244);
  line-height: 2;
  text-indent: 1.8em;
  text-align: justify;
}

.primeirobranco p {
  font-family: Arial;
  font-size: 12pt;
}

.primeirobranco li {
  font-family: Arial;
  font-size: 12pt;
}

.primeirobranco h2 {
  font-family: Arial;
  font-size: 18pt;
  margin-top: 0px;
  text-align: center;
}

.primeirobranco span {
  font-family: Arial;
  font-size: 12pt;
  text-decoration: underline;
}

.corpotalentos span {
  text-decoration: none;
}

.corpotalentos {
  text-align: center;
}

.titulo {
  text-decoration: underline !important;
  font-weight: bold;
  padding-left: 30px;
}

#fotoelenco {
  width: 704px;
  height: 456px;
  object-fit: cover;
  object-position: 15px -87px;
}

#segundocinza {
  background-color: rgb(66, 66, 66);
  color: white;
  margin-top: 90px;
}

.segundobranco {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 95px;
  background-color: rgb(244, 244, 244);
  line-height: 2;
  text-indent: 1.8em;
  text-align: center;
}

.segundobranco p {
  font-family: Arial;
  font-size: 14pt;
  margin-left: 300px;
  margin-right: 300px;
}

.segundobranco h2 {
  font-family: Oswald;
  font-size: 29pt;
  margin-top: 0px;
  text-align: center;
}

#terceirocinza {
  background-color: rgb(66, 66, 66);
  color: white;
  margin-top: 90px;
  text-align: center;
  padding-bottom: 60px;
}

#terceirocinza h2 {
  font-family: Oswald;
  font-size: 29pt;
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 50px;
}

#terceirocinza a:visited {
  color: white;
  font-family: Arial;
  font-size: 17pt;
  margin-left: 300px;
  margin-right: 300px;
}

#terceirocinza a {
  color: white;
  font-family: Arial;
  font-size: 17pt;
  margin-left: 300px;
  margin-right: 300px;
}

footer {
  text-align: center;
}

.faleconosco {
  font-family: Oswald;
  font-size: 72pt !important;
}

.caixa {
  border: solid 1px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Roboto;
  font-size: 12pt;
  border-radius: 15px;
  background-color: white;
}

.caixa label {
  padding-bottom: 15px;
}

.caixa input,
select,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid;
  font-size: 12pt;
}

.formulario {
  margin-left: 25%;
  margin-right: 25%;
  border: none;
}

.formulariotexto {
  border: solid 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12pt;
  font-family: Roboto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  background-color: white;
  border-radius: 15px;
}

.formulariotexto h2 {
  font-family: Roboto;
  font-size: 24pt;
}

.campoobrigatorio {
  color: red;
}

.formulario input[type="button"] {
  background-color: rgb(6, 116, 107);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 12pt;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

#teamsLinha1 {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-left: 17%;
  padding-bottom: 20px;
  font-family: "Open Sans" !important;
  font-size: 13pt !important;
}

#teamsLinha2 {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-left: 17%;
  padding-bottom: 80px;
  font-family: "Open Sans" !important;
  font-size: 13pt !important;
}

#segundocinza h2{
  font-family: "Oswald";
  font-size: 29pt;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 30px;
}

#team1 img {
  width: 286px;
  height: 286px;
  object-fit: cover;
  padding-right: 30px;
}

#team2 img {
  width: 286px;
  height: 286px;
  object-fit: cover;
  padding-right: 30px;
}

#team3 img {
  width: 286px;
  height: 286px;
  object-fit: cover;
  padding-right: 30px;
}

#team4 img {
  width: 286px;
  height: 286px;
  object-fit: cover;
  padding-right: 30px;
}

#team5 img {
  width: 286px;
  height: 286px;
  object-fit: cover;
  padding-right: 30px;
}

#team6 img {
  width: 286px;
  height: 286px;
  object-fit: cover;
  padding-right: 30px;
}

#team7 img {
  width: 286px;
  height: 286px;
  object-fit: cover;
  padding-right: 30px;
}

#team8 img {
  width: 286px;
  height: 286px;
  object-fit: cover;
  padding-right: 30px;
}

#logotipo {
  text-align: center;
}

/* Dropdown - estilo */

.dropbtn {
  background-color: #10799f;
  color: white;
  padding: 16px 37px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 173px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #10799f;
}

/* ----------------- */